{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article>
		
			<section class="article-content">
				
				<div class="row">
					<div class="large-4 small-12 columns title">
						<h1 class="article-h1">Process</h1>
						
					</div>
					<div class="large-8 small-12 columns">
						<div class="row pubs">
							{% for process in processes %}
								
									<div class="small-12 large-6 columns publications">
										<a href="{{process.permalink}}"><img src="{{process.thumbnail.src}}" class="publication-image" alt="Image for {{process.post_title}}" /></a>
										<h2 ><a href="{{process.permalink}}">{{ process.post_title }}</a></h2>
										<p>{{process.post_excerpt}}</p>
									
									</div>
								
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}